@font-face {
  font-family: Akrobat;
  src: url('../fonts/akrobat-bold.ttf') format('truetype');
}

/*
** Colors
*/

$primary-color: #d8172c;
$secondary-color: #ffffff;
$background-color: #222222;
$inactive-board-empty-cell-color: #2f2f2f;
$inactive-board-filled-cell-color: #ffffff;
$inactive-board-blocked-cell-color: #5a5a5a;
$active-board-empty-cell-color: #2f2f2f;
$active-board-filled-cell-color: #d8172c;
$active-board-blocked-cell-color: #5a5a5a;
$inactive-player-spectrum-filled-cell-color: #ffffff;
$active-player-spectrum-filled-cell-color: #d8172c;
$inactive-opponent-spectrum-filled-cell-color: #545454;
$active-opponent-spectrum-filled-cell-color: #b4b4b4;
$next-piece-empty-cell-color: #2f2f2f;
$next-piece-filled-cell-color: #ffffff;
$player-name-tooltip-color: #222222;

/*
** Mixins
*/

@mixin border($width, $color, $blur-radius: 0.5em) {
  border: $width solid $color;
  box-shadow: 0 0 $blur-radius $color;
}

@mixin cell($color, $blur-radius: 0.5em) {
  background-color: $color;
  box-shadow: 0 0 $blur-radius $color;
}

@mixin text($color, $blur-radius: 0.5em) {
  color: $color;
  text-shadow: 0 0 $blur-radius $color;
}

@mixin hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/*
** Page structure
*/

body {
  overflow: hidden;
  background-color: $background-color;
  color: $secondary-color;
  font-family: Akrobat, sans-serif;
}

#tetris {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

header {
  flex: 0 0 auto;
  width: 100%;
  overflow-x: auto;
}

main {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

aside {
  flex: 1;
}

section {
  display: flex;
  flex: initial;
  flex-flow: column;
  justify-content: center;
}

footer {
  flex: 0 0 auto;
}

/*
** Board
*/

.board {
  .row {
    display: flex;
    margin: 0;
    padding: 0;
    .cell {
      flex: auto;
      background-color: transparent;
      &:before {
        content: '';
        padding-top: 100%;
        float: left;
      }
    }
  }
}

/*
** Spectrums
*/

#spectrums-ribbon-container {
  @include hide-scrollbar;
}

.spectrums-ribbon {
  display: flex;
  flex-wrap: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em auto;
  .spectrum {
    margin: 0.5em;
    text-align: center;
    &:first-child {
      margin-left: 1.5em;
    }
    &:last-child {
      margin-right: 1.5em;
    }
    .board {
      position: relative;
      flex: none;
      width: 4em;
    }
    &.opponent {
      .board {
        @include border(0.3em, $inactive-opponent-spectrum-filled-cell-color);
        .cell.filled {
          @include cell($inactive-opponent-spectrum-filled-cell-color);
        }
      }
      .score {
        @include text($inactive-opponent-spectrum-filled-cell-color);
      }
      &.active {
        .board {
          @include border(0.3em, $active-opponent-spectrum-filled-cell-color);
          .cell.filled {
            @include cell($active-opponent-spectrum-filled-cell-color);
          }
        }
        .score {
          @include text($active-opponent-spectrum-filled-cell-color);
        }
      }
    }
    &.player {
      .board {
        @include border(0.3em, $inactive-player-spectrum-filled-cell-color);
        .cell.filled {
          @include cell($inactive-player-spectrum-filled-cell-color);
        }
      }
      .score {
        @include text($inactive-player-spectrum-filled-cell-color);
      }
      &.active {
        .board {
          @include border(0.3em, $active-player-spectrum-filled-cell-color);
          .cell.filled {
            @include cell($active-player-spectrum-filled-cell-color);
          }
        }
        .score {
          @include text($active-player-spectrum-filled-cell-color);
        }
      }
    }
  }
}

.score {
  display: inline-block;
  position: relative;
  width: 4em;
  margin-top: 0.5em;
  .tooltip-text {
    display: none;
    position: absolute;
    z-index: 1000;
    bottom: 150%;
    left: -1em;
    box-sizing: border-box;
    width: 6em;
    padding: 0.5em;
    background-color: white;
    color: $player-name-tooltip-color;
    text-align: center;
    text-shadow: none;
    word-break: break-all;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: white transparent transparent transparent;
    }
  }
  &:hover .tooltip-text {
    display: block;
  }
}

/*
** Main Board
*/

#main-board {
  .board {
    box-sizing: border-box;
    width: 35vh;
    padding: 1em;
    overflow: hidden;
    @include border(0.5em, $inactive-board-filled-cell-color);
    .cell {
      margin: 2px;
      &.empty {
        @include cell($inactive-board-empty-cell-color);
      }
      &.filled {
        @include cell($inactive-board-filled-cell-color);
      }
      &.blocked {
        @include cell($inactive-board-blocked-cell-color);
      }
    }
  }
  &.active .board {
    @include border(0.5em, $active-board-filled-cell-color);
    .cell {
      &.empty {
        @include cell($active-board-empty-cell-color);
      }
      &.filled {
        @include cell($active-board-filled-cell-color);
      }
      &.blocked {
        @include cell($active-board-blocked-cell-color);
      }
    }
  }
}

/*
** Statistic sidebar
*/

#statistics-sidebar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: auto;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  @include text($secondary-color, 0.2em);
  @include hide-scrollbar;
  .statistic-block {
    width: 7em;
    padding: 0.5em 1em;
    p {
      &:first-child {
        font-size: 1em;
        text-transform: none;
      }
      &:last-child {
        font-size: 0.6em;
      }
    }
  }
}

/*
** Next pieces sidebar
*/

#next-pieces-sidebar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .next-piece {
    width: 7em;
    padding: 1em;
    .row {
      display: flex;
      margin: 0;
      padding: 0;
      .cell {
        margin: 2px;
        &.empty {
          @include cell($next-piece-empty-cell-color);
        }
        &.filled {
          @include cell($next-piece-filled-cell-color);
        }
      }
    }
  }
}

/*
** Status line
*/

#status-line {
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  @include text($secondary-color, 0.2em);
}

/*
** Notification
*/

.notification-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 15em;
  max-height: 100%;
  padding: 0 1em;
  overflow-x: hidden;
  overflow-y: auto;
  @include hide-scrollbar;
  .notification {
    position: relative;
    box-sizing: border-box;
    margin-top: 15px;
    padding: 1em;
    opacity: 0.8;
    font-size: 1em;
    line-height: 1.2em;
    cursor: pointer;
    @include text($secondary-color, 0.1em);
    @include cell($primary-color);
    &:hover,
    &:focus {
      opacity: 1;
    }
    &.notification-enter {
      visibility: hidden;
      transform: translate3d(100%, 0, 0);
      &.notification-enter-active {
        visibility: visible;
        transform: translate3d(0, 0, 0);
        transition: all 0.4s;
      }
    }
    &.notification-leave {
      visibility: visible;
      transform: translate3d(0, 0, 0);
      &.notification-leave-active {
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
        transition: all 0.4s;
      }
    }
    .title {
      margin-bottom: 0.4em;
      font-size: 1em;
      font-weight: bold;
      line-height: 1.2em;
    }
  }
}

/*
** Loading screen
*/

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0.9;
  text-align: center;
  text-transform: uppercase;
  p {
    &:first-child {
      color: $primary-color;
      font-size: 4em;
      text-align: right;
      text-shadow: 0 0 0.05em $primary-color, 0 0 0.3em $primary-color;
    }
    &:last-child {
      font-size: 8em;
      @include text($secondary-color, 0.1em);
    }
  }
}

/*
** Control button
*/

.control-button {
  position: fixed;
  z-index: 100000;
  right: 3em;
  bottom: 2em;
  padding: 0.75em 1em;
  transition: all 0.3s ease 0s;
  border-radius: 4em;
  background-color: $primary-color;
  box-shadow: 0 0 0.25em $primary-color, 0 0.5em 0.75em rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  @include text($secondary-color, 0.1em);
  &:hover {
    box-shadow: 0 0 0.5em $primary-color, 0 0.5em 0.75em rgba(0, 0, 0, 0.5);
  }
  &:active {
    transform: scale(0.95);
  }
}

@media all and (max-width: 1000px) {
  aside {
    display: none !important;
  }
}
